.SignInSection {
  font-family: "Exo 2", Arial, sans-serif !important;
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 600;
  color: #4e2a84 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31rem;
}