.navbar {
  width: 100%;
  position: fixed;
  top: 16px;
  left: 0;
  z-index: 1000;
  height: 5rem;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;

  &.hidden {
    transform: translateY(-100%);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 100px #0003;
  border-radius: 3rem;
  width: 90%;
  max-width: 67rem;
  transition: background-color 0.3s ease, padding 0.3s ease;
  font-family: "Exo 2", Arial, sans-serif;
}

.scrolled {
  background-color: #fff;
  padding: 0.5rem 2rem;
}

.logo img {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  margin-left: -29rem;

  .menuItem {
    position: relative;

    a {
      text-decoration: none;
      color: #333;
      font-size: 1.2rem;
      font-weight: 500;
      position: relative;

      &:hover,
      &:focus {
        color: #4e2a84;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #4e2a84;
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 0;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      gap: 1rem;
      width: 46rem;

      .dropdownContent {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .dropdownItem {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          img {
            width: 124px;
            height: 124px;
            border-radius: 0.25rem;
          }

          span {
            font-size: 1.3rem;
            font-weight: 600;
          }

          .dropdownItemText {
            background-color: #eee;
          }
        }

        .dropdownItemDrugs {
          display: flex;
          flex-direction: column;
          .drugSpan {
            margin-top: 2.5rem;
          }
        }

        .drugsList {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0.5rem;
          column-gap: 7rem;
          row-gap: 1rem;
          margin-top: 0.5rem;
        
          .drugItem {
            font-size: 1rem;
            font-weight: 400;
            color: #333;
          }
        
          .seeMore {
            color: #4e2a84;
            font-weight: 600;
            text-decoration: none;
            grid-column: span 3;
            text-align: left;
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
        
        
        

        .seeMore {
          text-align: center;
          color: #4e2a84;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


.actions {
  display: flex;
  align-items: center;
  gap: 1rem;

  .languageSelector {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;

    .dropdownArrow {
      font-size: 0.8rem;
    }
  }

  .login {
    background-color: transparent;
    color: #4e2a84;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
}