.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('https://static.pocketpills.com/webapp/rebrand/landing/bg-news.webp');
  background-size: contain; /* Ensure the image is contained within the viewport */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4A4A4A;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth zooming */
}

.phrase {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2vw;
  color: #4e2a84;
  font-family: "Exo 2", Arial, sans-serif;
  max-width: 90%;
}

.newsOutlets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
  margin-top: 2vw;
}

.logo {
  width: 10vw;
  height: auto;
  cursor: pointer;
  max-width: 150px;
  min-width: 80px;
}

@media (max-width: 1024px) {
  .phrase {
    font-size: 2.5vw;
  }

  .logo {
    width: 12vw;
  }

  .newsOutlets {
    gap: 2.5vw;
  }
}

@media (max-width: 768px) {
  .phrase {
    font-size: 3vw;
  }

  .logo {
    width: 14vw;
  }

  .newsOutlets {
    gap: 3vw;
  }
}

@media (max-width: 480px) {
  .phrase {
    font-size: 4vw;
  }

  .logo {
    width: 18vw;
  }

  .newsOutlets {
    gap: 4vw;
  }
}